<html>
<head>
	<title>Edit Task</title>
</head>
<body>
	<h1>Edit task details</h1>
	
		<form action ='/channels/<%= channel.name %>/<%= task._id %>/edit' method = 'POST'>
		<input type = 'text' name = 'name' value ='<%= task.name %>'><br><br>
		<textarea rows = '4' cols ='50' name = 'description'><%= task.description %></textarea>
		<% if (login) { %> <input type="hidden" name="posted_by" value="<%= user.name %>"> <%}%>
		<input type="hidden" name="posted_in" value="<%= channel.name %>">
		<input type = 'submit'>
	
	</form>

</body>
</html>