<html>
<head>
	<title><%= task.name %> </title>
</head>
<body>
	<a href="/channels/<%= channel.name %>">Back to main <%= channel.name %> channel</a>

	<H1><%= task.name %> </H1><br>

	<p>Created on: <%= task.created %> </p> <br>
	<!-- <p>Due by: <%= task.due %> </p><br>
	<p>Task Location: <%= task.location %> </p> <br><br> -->

	<p> <%= task.description %> </p>




</body>
</html>